In [1]:
from imblearn.over_sampling import SMOTE, ADASYN
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv(r'./data/data_clean_v2.csv')

In [5]:
data_x=data.drop(columns=['Action','Adventure','Animated','Comedy','Historical','Fantasy','Horror','Science fiction','Documentary'],axis=1)
data_y=data[['Action','Adventure','Animated','Comedy','Historical','Fantasy','Horror','Science fiction','Documentary']]

In [18]:
x_train, x_test ,y_train,y_test=train_test_split(data_x,data_y['Action'],test_size=0.2, random_state=30,shuffle=True)

In [19]:
x_train

,Extraversion,Observant,Thinking,Judging,Age,way of watching movies,Gender_Female,Gender_Male,Gender_Non-binary / third gender,Entertaining,...,with_With friends,with_alone,with_with boyfriend/girlfriend,with_with family,Actor/actress,director,advertisements,genres,previews,comment
215,53,51,53,57,20.0,1,1,0,0,0.0,...,1,0,0,0,1.0,0.0,0.0,0.0,1.0,1.0
200,62,43,71,42,20.0,1,1,0,0,1.0,...,1,0,0,0,1.0,1.0,1.0,0.0,0.0,0.0
166,56,39,34,43,19.0,0,1,0,0,1.0,...,1,0,0,0,1.0,1.0,0.0,1.0,0.0,0.0
378,54,38,46,51,20.0,0,1,0,0,1.0,...,1,0,0,0,1.0,0.0,0.0,0.0,1.0,1.0
512,43,33,39,22,23.0,0,1,0,0,0.0,...,0,1,0,0,0.0,1.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,38,32,52,24,20.0,1,1,0,0,1.0,...,1,0,0,0,1.0,0.0,0.0,0.0,1.0,1.0
145,55,54,57,56,21.0,1,0,1,0,1.0,...,1,0,0,0,1.0,1.0,0.0,1.0,0.0,0.0
140,61,46,68,67,19.0,1,1,0,0,1.0,...,1,0,0,0,1.0,1.0,0.0,0.0,1.0,0.0
500,38,60,44,33,23.0,1,1,0,0,1.0,...,1,0,0,0,1.0,0.0,0.0,0.0,1.0,1.0
421,43,46,62,69,19.0,0,1,0,0,0.0,...,1,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0

In [20]:
x_train, y_train = SMOTE().fit_resample(x_train,y_train)

In [21]:
x_train

,Extraversion,Observant,Thinking,Judging,Age,way of watching movies,Gender_Female,Gender_Male,Gender_Non-binary / third gender,Entertaining,...,with_With friends,with_alone,with_with boyfriend/girlfriend,with_with family,Actor/actress,director,advertisements,genres,previews,comment
0,53,51,53,57,20.000000,1,1,0,0,0.000000,...,1,0,0,0,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
1,62,43,71,42,20.000000,1,1,0,0,1.000000,...,1,0,0,0,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
2,56,39,34,43,19.000000,0,1,0,0,1.000000,...,1,0,0,0,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000
3,54,38,46,51,20.000000,0,1,0,0,1.000000,...,1,0,0,0,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
4,43,33,39,22,23.000000,0,1,0,0,0.000000,...,0,1,0,0,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,22,54,44,57,20.652151,1,0,0,0,0.347849,...,0,1,0,0,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
1016,56,48,56,60,20.135460,0,0,0,0,0.378487,...,0,0,0,1,0.621513,0.378487,0.621513,0.378487,0.000000,1.000000
1017,70,49,34,46,20.344748,0,0,1,0,0.655252,...,0,0,0,0,1.000000,0.344748,0.000000,0.344748,0.655252,0.655252
1018,34,29,53,47,23.004134,0,0,0,0,1.000000,...,1,0,0,0,1.000000,0.000000,0.334711,0.665289,0.000000,1.000000
1019,40,34,63,29,19.881105,1,0,0,0,0.627035,...,0,0,0,0,0.372965,0.372965,0.000000,1.000000,0.627035,0.627035

SMOTE:1020 ADASYN:1044